<script>
import { HorizontalBar } from 'vue-chartjs'
import { EventBus } from '../../../plugins/events-bus'
import moment from 'moment'

export default {
  extends: HorizontalBar,
  data () {
    return {
      data: {
        activities: null,
        labels: null,
        datasets: [{
          label: 'aantal deelnemers',
          data: null,
          backgroundColor: '#E88D04'
        }]
      },
      options: {
        plugins: {
          title: {
            display: true,
            text: 'Aanwezigheidsgeschiedenis'
          }
        },
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            ticks: {
              stepSize: 1
            }
          }]
        },
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  methods: {
    getHistory () {
      this.data.labels = ['Data ophalen...']
      this.data.datasets[0].data = [0]

      this.axios.get('/api/admin/registrations')
        .then(response => {
          this.activities = response.data.activities
          this.data.labels = this.activities.map(a => a.title + ' (' + this.formatDate(a.activity_start) + ')')
          this.data.datasets[0].data = this.activities.map(a => a.registrations_count)
          this.renderChart(this.data, this.options)
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    formatDate (value) {
      if (value) {
        return moment.utc(String(value)).format('l')
      }
    }
  },
  mounted () {
    this.getHistory()
    this.renderChart(this.data, this.options)
  }
}
</script>

<style scoped>

</style>
