<template>
  <v-card flat>
    <v-card-title>
      {{ pagetitle }}
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Zoek (alle velden)"
        single-line
        hide-details>
      </v-text-field>
    </v-card-title>

    <v-card-text>
      <v-data-table
        class="clickable-table"
        :headers="headers"
        :items="items"
        :items-per-page="15"
        :search="search"
      >
        <template v-slot:item.activity_start="{ item }">
          {{ formatDateTime(item.activity_start) }}
        </template>
        <template v-slot:item.registrations="{ item }">
          {{ item.registrations.length }}<span v-if="item.max_participants !== 1000">/{{ item.max_participants }}</span>
        </template>
        <template v-slot:item.actions="{ item }">
          <edit-activity :activity="item" v-on:activity_updated="onActivityUpdated"></edit-activity>
          <show-registrations :activity="item"></show-registrations>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import ShowRegistrations from './ShowRegistrations'
import EditActivity from './EditActivity'
import moment from 'moment'

export default {
  name: 'ActivityTable',
  components: { ShowRegistrations, EditActivity },
  props: ['pagetitle', 'activities'],
  data () {
    return {
      modalVisible: false,
      registrationModalVisible: false,
      modalData: null,

      search: '',
      items: [],
      headers: [
        {
          text: 'Datum',
          align: 'start',
          value: 'activity_start'
        },
        { text: 'Activiteit', value: 'title' },
        { text: 'Spreker', value: 'speaker' },
        { text: 'Type', value: 'type' },
        { text: 'Locatie', value: 'location' },
        { text: 'Registraties', value: 'registrations' },
        { text: 'Acties', value: 'actions', sortable: false }
      ]
    }
  },
  methods: {
    openDialog (data) {
      this.modalData = data
      this.modalVisible = true
    },
    openRegistrationDialog (data) {
      this.modalData = data
      this.registrationModalVisible = true
    },
    onActivityUpdated () {
      this.$emit('activity_updated')
    },
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('l LT')
      }
    }
  },
  mounted () {
    this.items = Object.keys(this.activities).map((key) => {
      return this.activities[key]
    })
  }
}
</script>

<style scoped>

</style>
