<template>
    <div>
        <v-dialog v-model="dialog" max-width="800">
            <v-card>
                <v-card-title>Activiteit toevoegen</v-card-title>
                <v-card-text>
                    <v-form ref="form" class="" lazy-validation>
                        <v-text-field
                          autocomplete="title"
                          name="title"
                          id="title"
                          v-model="form.title"
                          :rules="[rules.required]" required
                          label="Titel">
                        </v-text-field>

                        <v-textarea
                          label="Beschrijving"
                          autocomplete="description"
                          name="description"
                          id="description"
                          :rules="[rules.required]" required
                          v-model="form.description">
                        </v-textarea>

                        <v-row dense>
                            <v-col>
                              <v-select
                                :items="types"
                                item-text="label"
                                item-value="value"
                                label="Type"
                                v-model="form.type">
                              </v-select>
                            </v-col>
                            <v-col>
                              <v-text-field
                                name="max_participants"
                                id="max_participants"
                                type="number"
                                label="Deelnemers"
                                v-model="form.max_participants">
                              </v-text-field>
                            </v-col>
                        </v-row>

                        <v-text-field
                          label="Locatie"
                          autocomplete="location"
                          name="location"
                          id="location"
                          :rules="[rules.required]" required
                          v-model="form.location">
                        </v-text-field>

                        <v-text-field
                          label="Spreker"
                          autocomplete="speaker"
                          name="speaker"
                          id="speaker"
                          :rules="[rules.required]" required
                          v-model="form.speaker">
                        </v-text-field>

                        <v-checkbox
                          name="news"
                          id="news"
                          v-model="form.news"
                          label="Plaats een nieuws-artikel over deze activiteit">
                        </v-checkbox>

                        <v-row>
                          <v-col>
                            <v-text-field
                              v-model="form.activity_start"
                              name="activity_start"
                              label="Datum"
                              hint="DD-MM-YYYY"
                              :rules="[rules.required]" required
                              prepend-icon="mdi-calendar">
                            </v-text-field>
                          </v-col>
                          <v-col>
                            <v-text-field
                              v-model="form.time"
                              name="time"
                              prepend-icon="mdi-clock-time-four-outline"
                              hint="HH:MM (24-uurs)"
                              :rules="[rules.required]" required
                              label="Tijd">
                            </v-text-field>
                          </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="accent" text @click="dialog = false">Annuleren</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="storeActivity">Opslaan</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-btn class="add-button" @click="dialog = true" color="primary" small fab>
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

export default {
  name: 'AddActivity',
  data () {
    return {
      dialog: false,
      newActivity: null,
      types: [
        { label: 'Workshop', value: 'Workshop' },
        { label: 'Talk', value: 'Talk' },
        { label: 'Projectavond', value: 'Projects' }
      ],
      form: {
        title: null,
        description: null,
        type: null,
        location: null,
        speaker: null,
        max_participants: 1000,
        activity_start: null,
        time: null,
        news: false
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!'
      }
    }
  },
  methods: {
    storeActivity () {
      if (!this.$refs.form.validate()) return false
      this.axios.post('/api/admin/activities', this.form)
        .then(response => {
          this.newActivity = response.data
          this.dialog = false
          EventBus.$emit('snackbar', 'Activiteit is aangemaakt!')
          this.$emit('activity_added', 1)
          this.$refs.form.reset()
        }).catch(error => {
          console.log(error)
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    }
  }
}
</script>

<style scoped>
    .add-button {
        position: absolute;
        right: 2.5em;
        bottom: 2.5em;
    }
</style>
