<template>
    <div>
        <v-dialog v-model="dialog" max-width="800">
            <v-card>
                <v-card-title>Nieuws toevoegen</v-card-title>
                <v-card-text>
                    <v-form ref="form"
                        lazy-validation>
                        <v-text-field v-model="form.title"
                                      autocomplete="title"
                                      name="title"
                                      id="title"
                                      label="Titel"
                                      :rules="[rules.required]" required
                                      counter
                                      maxlength="255"></v-text-field>
                        <v-textarea v-model="form.content"
                                    label="Inhoud"
                                    autocomplete="content"
                                    name="content"
                                    id="content"
                                    :rules="[rules.required]" required
                        ></v-textarea>
                        <v-text-field v-model="form.url"
                                      autocomplete="url"
                                      name="url"
                                      id="url"
                                      label="Als dit een extern bericht is, plaats dan hier de link"
                        ></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="accent" text @click="showDialog = false">Annuleren</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="storeNews">Opslaan</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-btn class="add-button" color="primary" @click="dialog = true" small fab>
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

export default {
  name: 'AddNewsItem',
  data () {
    return {
      dialog: false,
      newNewsItem: null,
      form: {
        title: null,
        content: null,
        is_external: false,
        url: null
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!'
      }
    }
  },
  methods: {
    storeNews () {
      if (!this.$refs.form.validate()) return false

      if (this.form.url) {
        this.form.is_external = true
      }

      this.axios.post('/api/admin/news/internal', this.form)
        .then(response => {
          this.newNewsItem = response.data
          this.$emit('news_added', 1)
          EventBus.$emit('snackbar', 'Successfully posted news item')
          this.dialog = false
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    }
  }
}
</script>

<style scoped>
  .add-button {
      position: absolute;
      right: 2.5em;
      bottom: 2.5em;
  }
</style>
