<template>
    <div>
      <v-dialog
        v-model="dialog"
        max-width="800"
        persistent>
            <v-card>
                <v-card-title>Betaling toevoegen</v-card-title>

                <v-card-text>
                    <v-form ref="form" class="" lazy-validation>
                        <v-autocomplete
                            v-model="selected_user"
                            :items="users"
                            item-text="full_name"
                            label="Deelnemer selecteren"
                            :rules="[rules.required]" required
                        ></v-autocomplete>

                        <v-autocomplete
                            v-model="selected_product"
                            :items="products"
                            item-text="name"
                            label="Product selecteren"
                            :rules="[rules.required]" required
                        ></v-autocomplete>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="accent" text @click="dialog = false">Annuleren</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="addPayment">Opslaan</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-btn class="add-button" color="primary" @click="dialog = true" small fab>
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

export default {
  name: 'AddPayment',
  props: ['products'],
  data () {
    return {
      dialog: false,
      newPayment: null,
      selected_user: null,
      selected_product: null,
      users: [],
      form: {
        user_id: null,
        product_id: null
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!'
      }
    }
  },
  methods: {
    addPayment () {
      if (!this.$refs.form.validate()) return false

      this.form.product_id = this.products.find(p => p.name === this.selected_product).id
      this.form.user_id = this.users.find(u => u.full_name === this.selected_user).id

      this.axios.post('/api/admin/payments/create', this.form)
        .then(response => {
          this.newPayment = response.data
          this.dialog = false
          EventBus.$emit('snackbar', 'Betaling is aangemaakt!')
          this.$emit('payment_added', 1)
        }).catch(error => {
          console.log(error)
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    },
    getUsers () {
      this.axios.get('/api/admin/users')
        .then(response => {
          this.users = response.data.users
        })
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>

<style scoped>
    .add-button {
        position: absolute;
        right: 2.5em;
        bottom: 2.5em;
    }
</style>
