<template>
    <div>
      <v-dialog
        v-model="dialog"
        max-width="800"
        persistent>
            <v-card>
                <v-card-title>Product toevoegen</v-card-title>

                <v-card-text>
                    <v-form ref="form" class="" lazy-validation>
                        <v-text-field
                          label="Naam"
                          autocomplete="name"
                          name="name"
                          id="name"
                          :rules="[rules.required]" required
                          v-model="form.name">
                        </v-text-field>

                        <v-text-field
                          label="Prijs"
                          autocomplete="amount"
                          name="amount"
                          id="amount"
                          :rules="[rules.required]" required
                          v-model="form.amount">
                        </v-text-field>

                        <v-text-field
                          label="Voorraad"
                          autocomplete="stock"
                          name="stock"
                          id="stock"
                          :rules="[rules.required]" required
                          v-model="form.stock">
                        </v-text-field>

                        <v-switch
                            label="Beschikbaar"
                            name="enabled"
                            id="enabled"
                            v-model="form.enabled"
                        ></v-switch>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="accent" text @click="dialog = false">Annuleren</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="addProduct">Opslaan</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-btn class="add-button" color="primary" @click="dialog = true" small fab>
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

export default {
  name: 'AddProduct',
  data () {
    return {
      dialog: false,
      newProduct: null,
      form: {
        name: null,
        description: '',
        amount: null,
        currency: 'EUR',
        stock: null,
        enabled: true
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!'
      }
    }
  },
  methods: {
    addProduct () {
      if (!this.$refs.form.validate()) return false
      this.axios.post('/api/admin/products/create', this.form)
        .then(response => {
          this.newProduct = response.data
          this.dialog = false
          EventBus.$emit('snackbar', 'Product is aangemaakt!')
          this.$emit('product_added', 1)
        }).catch(error => {
          console.log(error)
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    }
  }
}
</script>

<style scoped>
    .add-button {
        position: absolute;
        right: 2.5em;
        bottom: 2.5em;
    }
</style>
