<template>
    <div>
      <v-dialog
        v-model="dialog"
        max-width="800"
        persistent>
            <v-card>
                <v-card-title>Robot aanmaken</v-card-title>

                <v-card-text>
                    <v-form ref="form" class="" lazy-validation>
                        <v-text-field
                          label="Naam"
                          autocomplete="name"
                          name="name"
                          id="name"
                          :rules="[rules.required]" required
                          v-model="form.name">
                        </v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="accent" text @click="dialog = false">Annuleren</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="updateProduct">Opslaan</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="token_dialog"
            max-width="800"
            persistent>
            <v-card>
                <v-card-title>Robot aangemaakt!</v-card-title>
                <v-card-text>
                    <p>Kopieer en sla onderstaande token veilig op. Deze token wordt maar een keer weergegeven.</p>
                    <v-text-field
                        label="Token"
                        v-model="token"
                        readonly
                        append-icon="mdi-content-copy"
                        @click:append="copyToClipBoard(token)"
                        ></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" text @click="token_dialog = false; $emit('robot_added', 1)">Sluiten</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-btn class="add-button" color="primary" @click="dialog = true; form.name = ''; robot = {}; token = {};" small fab>
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

export default {
  name: 'AddRobot',
  data () {
    return {
      dialog: false,
      token_dialog: false,
      robot: {},
      token: '',
      form: {
        name: null,
        enabled: true
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!'
      }
    }
  },
  methods: {
    updateProduct () {
      if (!this.$refs.form.validate()) return false
      this.axios.post('/api/admin/robots/create', this.form)
        .then(response => {
          this.robot = response.data.robot
          this.token = response.data.token
          this.dialog = false
          this.token_dialog = true
        }).catch(error => {
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    },
    copyToClipBoard (text) {
      navigator.clipboard.writeText(text)
      EventBus.$emit('snackbar', 'Copied to clipboard!')
    }
  }
}
</script>

<style scoped>
.dialog {
    padding: 20px;
}
</style>
