<template>
  <v-card flat>
    <v-card-title>
      {{ pagetitle }}
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Zoek (alle velden)"
        single-line
        hide-details>
      </v-text-field>
    </v-card-title>
    <v-card-text>
      <v-data-table
        class="clickable-table"
        :headers="headers"
        :items="items"
        :items-per-page="15"
        :search="search"
      >
        <template v-slot:item.created_at="{ item }">
          {{ formatDateTime(item.created_at) }}
        </template>
        <template v-slot:item.user.full_name="{ item }">
          {{ item.user.full_name }}
        </template>
        <template v-slot:item.amount="{ item }">
          {{ item.amount }} {{ item.currency }}
        </template>
        <template v-slot:item.add_to_balance="{ item }">
          <span @click="onDonationClicked(item)" style="cursor: pointer;">
            <v-icon v-if="item.add_to_balance" color="green">mdi-check</v-icon>
            <v-icon v-else color="red">mdi-close</v-icon>
          </span>
        </template>
        <template v-slot:item.payment_id="{ item }">
          <a :href="'https://my.mollie.com/dashboard/payments/' + item.payment_id" target="_blank">{{ item.payment_id }}</a>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import moment from 'moment'

export default {
  name: 'DonationTable',
  props: ['pagetitle', 'donations'],
  data () {
    return {
      search: '',
      items: [],
      headers: [
        {
          text: 'Datum',
          align: 'start',
          value: 'created_at'
        },
        { text: 'Deelnemer', value: 'user.full_name' },
        { text: 'Bedrag', value: 'amount' },
        { text: 'Tegoed', value: 'add_to_balance' },
        { text: 'Transactie ID', value: 'payment_id' }
      ]
    }
  },
  methods: {
    onDonationClicked (donation) {
      if (!donation.add_to_balance) {
        if (!confirm('Donatie toevoegen aan tegoed?')) return false
      } else {
        if (!confirm('Donatie niet toevoegen aan tegoed?')) return false
      }

      this.$emit('donation_clicked', donation)
    },
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('l LT')
      }
    }
  },
  mounted () {
    this.items = Object.keys(this.donations).map((key) => {
      return this.donations[key]
    })
  }
}
</script>

<style scoped>

</style>
