<template>
    <div>
      <v-btn icon @click.stop="dialog = true" class="mr-2"><v-icon>mdi-pencil</v-icon></v-btn>

      <v-dialog v-model="dialog" max-width="800">
            <v-card>
                <v-card-title>Activiteit wijzigen</v-card-title>

                <v-card-text>
                    <v-form ref="form" class="" lazy-validation>
                        <v-text-field
                          label="Titel"
                          autocomplete="title"
                          name="title"
                          id="title"
                          :rules="[rules.required]" required
                          v-model="form.title">
                        </v-text-field>

                        <v-textarea
                          label="Beschrijving"
                          autocomplete="description"
                          name="description"
                          id="description"
                          :rules="[rules.required]" required
                          v-model="form.description">
                        </v-textarea>

                        <v-row dense>
                            <v-col><v-select :items="types" item-text="label" item-value="value" label="Type" v-model="form.type"></v-select></v-col>
                            <v-col><v-text-field name="max_participants" id="max_participants" type="number" label="Deelnemers" v-model="form.max_participants"></v-text-field></v-col>
                        </v-row>

                        <v-text-field
                          label="Locatie"
                          autocomplete="location"
                          name="location"
                          id="location"
                          :rules="[rules.required]" required
                          v-model="form.location">
                        </v-text-field>

                        <v-text-field
                          label="Spreker"
                          autocomplete="speaker"
                          name="speaker"
                          id="speaker"
                          :rules="[rules.required]" required
                          v-model="form.speaker">
                        </v-text-field>

                        <v-row>
                          <v-col>
                            <v-text-field
                              v-model="form.activity_start"
                              name="activity_start"
                              label="Datum"
                              hint="DD-MM-YYYY"
                              :rules="[rules.required]" required
                              prepend-icon="mdi-calendar">
                            </v-text-field>
                          </v-col>
                          <v-col>
                            <v-text-field
                              v-model="form.time"
                              name="time"
                              prepend-icon="mdi-clock-time-four-outline"
                              hint="HH:MM (24-uurs)"
                              :rules="[rules.required]" required
                              label="Tijd">
                            </v-text-field>
                          </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="accent" text @click="dialog = false">Annuleren</v-btn>
                    <v-btn color="red" text @click="removeActivity">Verwijderen</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="updateActivity">Opslaan</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

export default {
  name: 'EditActivity',
  props: ['activity'],
  data () {
    return {
      dialog: false,
      types: [
        { label: 'Workshop', value: 'Workshop' },
        { label: 'Talk', value: 'Talk' },
        { label: 'Projectavond', value: 'Projects' }
      ],
      form: {
        title: this.activity.title,
        description: this.activity.description,
        type: this.activity.type,
        location: this.activity.location,
        speaker: this.activity.speaker,
        max_participants: this.activity.max_participants,
        activity_start: this.activity.activity_start_date_info.date,
        time: this.activity.activity_start_date_info.time
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!'
      }
    }
  },
  methods: {
    updateActivity () {
      if (!this.$refs.form.validate()) return false
      this.axios.patch('/api/admin/activities/' + this.activity.id, this.form)
        .then(response => {
          this.activity = response.data
          EventBus.$emit('snackbar', 'Successfully updated activity')
          this.$emit('activity_updated', 1)
          this.dialog = false
        }).catch(error => {
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    },
    removeActivity () {
      if (!confirm('Weet je zeker dat je deze activiteit wil verwijderen?')) {
        return false
      }
      this.axios.delete('/api/admin/activities/' + this.activity.id)
        .then(response => {
          this.activity = response.data
          EventBus.$emit('snackbar', response.message)
          this.$emit('activity_updated', 1)
          this.dialog = false
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    }
  }
}
</script>

<style scoped>
.dialog {
    padding: 20px;
}
</style>
