<template>
    <div>
      <v-dialog
        v-model="dialog"
        max-width="800"
        persistent>
            <v-card>
                <v-card-title>Product wijzigen</v-card-title>

                <v-card-text>
                    <v-form ref="form" class="" lazy-validation>
                        <v-text-field
                          label="Naam"
                          autocomplete="name"
                          name="name"
                          id="name"
                          :rules="[rules.required]" required
                          v-model="form.name">
                        </v-text-field>

                        <v-text-field
                          label="Prijs"
                          autocomplete="amount"
                          name="amount"
                          id="amount"
                          :rules="[rules.required]" required
                          v-model="form.amount">
                        </v-text-field>

                        <v-text-field
                          label="Voorraad"
                          autocomplete="stock"
                          name="stock"
                          id="stock"
                          :rules="[rules.required]" required
                          v-model="form.stock">
                        </v-text-field>

                        <v-switch
                            label="Beschikbaar"
                            name="enabled"
                            id="enabled"
                            v-model="form.enabled"
                        ></v-switch>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="accent" text @click="$emit('close', 1)">Annuleren</v-btn>
                    <v-btn color="red" text @click="deleteProduct">Verwijderen</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="updateProduct">Opslaan</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

export default {
  name: 'EditProduct',
  props: ['product'],
  data () {
    return {
      dialog: true,
      form: {
        name: this.product.name,
        description: '',
        amount: this.product.amount,
        currency: 'EUR',
        stock: this.product.stock,
        enabled: this.product.enabled
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!'
      }
    }
  },
  methods: {
    updateProduct () {
      if (!this.$refs.form.validate()) return false
      this.axios.patch('/api/admin/products/' + this.product.id, this.form)
        .then(response => {
          this.activity = response.data
          EventBus.$emit('snackbar', 'Product bijgewerkt.')
          this.$emit('product_updated', 1)
          this.$emit('close', 1)
        }).catch(error => {
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    },
    deleteProduct () {
      if (!confirm(`Product ${this.product.name} verwijderen?`)) return false
      this.axios.delete(`/api/admin/products/${this.product.id}`)
        .then(response => {
          EventBus.$emit('snackbar', 'Product verwijderd.')
          this.$emit('product_updated', 1)
          this.$emit('close', 1)
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit('snackbar', 'Product kon niet worden verwijderd!')
        })
    }
  }
}
</script>

<style scoped>
.dialog {
    padding: 20px;
}
</style>
