<template>
    <div>
      <v-dialog
        v-model="dialog"
        max-width="800"
        persistent>
            <v-card>
                <v-card-title>Robot wijzigen</v-card-title>

                <v-card-text>
                    <v-form ref="form" class="" lazy-validation>
                        <v-text-field
                          label="Naam"
                          autocomplete="name"
                          name="name"
                          id="name"
                          readonly
                          :rules="[rules.required]" required
                          v-model="form.name">
                        </v-text-field>

                        <v-text-field
                          label="Token"
                          autocomplete="token"
                          readonly
                          value="********"
                        ></v-text-field>

                        <v-switch
                            label="Beschikbaar"
                            name="enabled"
                            id="enabled"
                            v-model="form.enabled"
                        ></v-switch>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="accent" text @click="$emit('close', 1)">Annuleren</v-btn>
                    <v-btn color="red" text @click="deleteRobot">Verwijderen</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="updateRobot">Opslaan</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

export default {
  name: 'EditRobot',
  props: ['robot'],
  data () {
    return {
      dialog: true,
      form: {
        name: this.robot.name,
        enabled: this.robot.enabled
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!'
      }
    }
  },
  methods: {
    updateRobot () {
      if (!this.$refs.form.validate()) return false
      this.axios.patch('/api/admin/robots/' + this.robot.id, { enabled: this.form.enabled })
        .then(response => {
          this.activity = response.data
          EventBus.$emit('snackbar', 'Successfully updated robot')
          this.$emit('robot_updated', 1)
          this.$emit('close', 1)
        }).catch(error => {
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    },
    deleteRobot () {
      if (!confirm(`Weet je zeker dat je de robot ${this.robot.name} wil verwijderen?`)) return false

      this.axios.delete('/api/admin/robots/' + this.robot.id)
        .then(response => {
          EventBus.$emit('snackbar', 'Successfully deleted robot')
          this.$emit('robot_updated', 1)
          this.$emit('close', 1)
        })
        .catch(error => {
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    }
  }
}
</script>

<style scoped>
.dialog {
    padding: 20px;
}
</style>
