<template>
  <v-card flat>
    <v-card-title>
      {{ pagetitle }}
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Zoek (alle velden)"
        single-line
        hide-details>
      </v-text-field>
    </v-card-title>

    <v-card-text>
      <v-data-table
        class="clickable-table"
        :headers="headers"
        :items="items"
        :items-per-page="15"
        :search="search"
      >
        <template v-slot:item.created_at="{ item }">
          {{ formatDateTime(item.created_at) }}
        </template>
        <template v-slot:item.user.full_name="{ item }">
          {{ item.user.full_name }}
        </template>
        <template v-slot:item.amount="{ item }">
          {{ item.amount }}
        </template>
        <template v-slot:item.actions="{ item }">
          <v-btn icon @click="deletePayment(item)" class="mr-2"><v-icon>mdi-delete</v-icon></v-btn>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import moment from 'moment'

export default {
  name: 'PaymentTable',
  props: ['pagetitle', 'payments'],
  data () {
    return {
      search: '',
      items: [],
      headers: [
        {
          text: 'Datum',
          align: 'start',
          value: 'created_at'
        },
        { text: 'Deelnemer', value: 'user.full_name' },
        { text: 'Product', value: 'product.name' },
        { text: 'Bedrag', value: 'amount' },
        { text: 'Acties', value: 'actions', sortable: false }
      ]
    }
  },
  methods: {
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('l LT')
      }
    },
    deletePayment (payment) {
      if (!confirm('Weet je zeker dat je deze betaling wil verwijderen?')) return
      this.axios.delete(`/api/admin/payments/${payment.id}`)
        .then(response => {
          this.$emit('payment_updated')
        })
    }
  },
  mounted () {
    this.items = Object.keys(this.payments).map((key) => {
      return this.payments[key]
    })
  }
}
</script>

<style scoped>

</style>
