<template>
    <v-card flat>
      <edit-product v-if="modalVisible" @close="modalVisible=false" :product="modalData" v-on:product_updated="onProductUpdated"></edit-product>

      <v-card-title>
        {{ pagetitle }}
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Zoek (alle velden)"
          single-line
          hide-details>
        </v-text-field>
      </v-card-title>

      <v-card-text>
        <v-data-table
          class="clickable-table"
          :headers="headers"
          :items="items"
          :items-per-page="15"
          :search="search"
          @click:row="openDialog"
        >
          <template v-slot:item.created_at="{ item }">
            {{ formatDateTime(item.created_at) }}
          </template>
          <template v-slot:item.name="{ item }">
            {{ item.name }}
          </template>
          <template v-slot:item.amount="{ item }">
            {{ item.amount }} {{ item.currency }}
          </template>
          <template v-slot:item.stock="{ item }">
            {{ item.stock }}
          </template>
          <template v-slot:item.sales="{ item }">
            {{ item.sales }}
          </template>
          <template v-slot:item.enabled="{ item }">
            <v-icon v-if="item.enabled" color="green">mdi-check</v-icon>
            <v-icon v-else color="red">mdi-close</v-icon>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </template>

<script>
import moment from 'moment'

import EditProduct from './EditProduct'

export default {
  name: 'ProductTable',
  components: { EditProduct },
  props: ['pagetitle', 'products'],
  data () {
    return {
      modalVisible: false,
      modalData: null,
      search: '',
      items: [],
      headers: [
        {
          text: 'Datum',
          align: 'start',
          value: 'created_at'
        },
        { text: 'Naam', value: 'name' },
        { text: 'Bedrag', value: 'amount' },
        { text: 'Voorraad', value: 'stock' },
        { text: 'Verkocht', value: 'sales' },
        { text: 'Beschikbaar', value: 'enabled' }
      ]
    }
  },
  methods: {
    openDialog (data) {
      this.modalData = data
      this.modalVisible = true
    },
    onProductUpdated () {
      this.$emit('product_updated')
    },
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('l LT')
      }
    }
  },
  mounted () {
    this.items = Object.keys(this.products).map((key) => {
      return this.products[key]
    })
  }
}
</script>

  <style scoped>
    .clickable-table >>> tbody tr :hover {
    cursor: pointer;
  }
  </style>
