<template>
    <v-card flat>
      <edit-robot v-if="modalVisible" @close="modalVisible=false" :robot="modalData" v-on:robot_updated="onRobotUpdated"></edit-robot>

      <v-card-title>
        {{ pagetitle }}
        <v-spacer></v-spacer>
      </v-card-title>

      <v-card-text>
        <v-data-table
          class="clickable-table"
          :headers="headers"
          :items="items"
          :items-per-page="15"
          @click:row="openDialog"
        >
          <template v-slot:item.created_at="{ item }">
            {{ formatDateTime(item.created_at) }}
          </template>
          <template v-slot:item.name="{ item }">
            {{ item.name }}
          </template>
          <template v-slot:item.user.full_name="{ item }">
            {{ item.user.full_name }}
          </template>
          <template v-slot:item.enabled="{ item }">
            <v-icon v-if="item.enabled" color="green">mdi-check</v-icon>
            <v-icon v-else color="red">mdi-close</v-icon>
          </template>
        </v-data-table>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <add-robot v-on:robot_added="onRobotUpdated"></add-robot>
      </v-card-actions>
    </v-card>
  </template>

<script>
import moment from 'moment'

import EditRobot from './EditRobot'
import AddRobot from './AddRobot'

export default {
  name: 'RobotTable',
  components: { EditRobot, AddRobot },
  props: ['pagetitle', 'robots'],
  data () {
    return {
      items: [],
      modalVisible: false,
      modalData: null,
      headers: [
        {
          text: 'Aangemaakt op',
          align: 'start',
          value: 'created_at'
        },
        { text: 'Naam', value: 'name' },
        { text: 'Toegevoegd door', value: 'user.full_name' },
        { text: 'Enabled', value: 'enabled' }
      ]
    }
  },
  methods: {
    openDialog (data) {
      this.modalData = data
      this.modalVisible = true
    },
    onRobotUpdated () {
      this.$emit('robot_updated', 1)
    },
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('l LT')
      }
    }
  },
  mounted () {
    this.items = Object.keys(this.robots).map((key) => {
      return this.robots[key]
    })
  }
}
</script>

  <style scoped>

  .clickable-table >>> tbody tr :hover {
    cursor: pointer;
  }
  </style>
