<template>
    <div>
      <v-btn icon @click.stop="dialog = true"><v-icon>mdi-account-plus</v-icon></v-btn>

        <v-dialog v-model="dialog" max-width="800">
            <v-card>
                <v-card-title>Registraties voor {{ activity['title'] }}</v-card-title>

                <v-card-text>
                    <v-simple-table>
                        <template v-slot:default>
                            <thead>
                            <tr>
                                <th class="text-left">Naam</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr v-for="attendee in attendees" :key="attendee.id">
                                  <td>{{ attendee['full_name'] }}</td>
                                  <td class="text-right">
                                    <v-icon @click="removeRegistration(attendee)">mdi-close</v-icon>
                                  </td>
                              </tr>
                              <tr>
                                <td>
                                  <v-autocomplete
                                    v-model="extra"
                                    :items="non_attendees"
                                    item-text="full_name"
                                    label="Deelnemers aanmelden"
                                  ></v-autocomplete>
                                </td>
                                <td class="text-right">
                                  <v-icon @click="registerUser">mdi-plus</v-icon>
                                </td>
                              </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="dialog = false">Sluiten</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>

import { EventBus } from '../../../plugins/events-bus'

export default {
  name: 'ShowRegistrations',
  props: ['activity'],
  data () {
    return {
      dialog: false,
      extra: null,
      attendees: this.activity.attendees,
      non_attendees: []
    }
  },
  methods: {
    getUsers () {
      this.axios.get('/api/admin/users')
        .then(response => {
          this.non_attendees = response.data.users
          // now filter all already registered users from the non_attendees
          for (const user in this.non_attendees) {
            for (const attendee in this.attendees) {
              if (this.non_attendees[user].id === this.attendees[attendee].id) {
                this.non_attendees.splice(this.non_attendees.indexOf(this.non_attendees[user]), 1)
              }
            }
          }
        })
    },
    registerUser () {
      const newAttendee = this.non_attendees.find(u => u.full_name === this.extra)
      const data = { activity_id: this.activity.id, user_id: newAttendee.id }
      this.axios.post('/api/admin/registrations', data)
        .then(response => {
          this.activity.attendees.push(response.data.attendee)
          this.activity.registrations.push(response.data.registration) // update the main view count
          // remove the new attendee from the non_attendees and add it to the attendees
          this.attendees = this.activity.attendees
          if (this.non_attendees.indexOf(newAttendee) > -1) {
            this.non_attendees.splice(this.non_attendees.indexOf(newAttendee), 1)
          }
          EventBus.$emit('snackbar', `${newAttendee.full_name} is geregistreerd!`)
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
      this.extra = null
    },
    removeRegistration (attendee) {
      const registration = this.activity.registrations.find(r => r.user_id === attendee.id)
      this.axios.delete('/api/admin/registrations/' + registration.id)
        .then(response => {
          this.activity.registrations.splice(this.activity.registrations.indexOf(registration), 1)
          this.activity.attendees.splice(this.activity.attendees.indexOf(attendee), 1)
          // remove the cancelled attendee from the attendees and add to the non_attendees
          this.attendees = this.activity.attendees
          this.non_attendees.push(attendee)
          EventBus.$emit('snackbar', `${attendee.full_name} is verwijderd van de registratie!`)
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>

<style scoped>
</style>
