<template>
  <div>
    <v-btn
      color="primary"
      text
      @click.stop="dialog = true"
    >
      Aanmelden
    </v-btn>

    <v-dialog
      v-model="dialog"
      max-width="600"
    >
      <v-card>
        <v-card-title>
          Aanmelden voor {{ activity['title'] }}
        </v-card-title>
        <v-card-text>
          <p class="body-1">Leuk dat je er bij bent!</p>

          <v-form ref="form" v-model="valid" lazy-validation>
            <v-select v-if="activity['type'] !== 'Projects'" :items="purposes" v-model="form.purpose" item-text="label" item-value="value" label="Ik kom donderdag..."></v-select>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="accent"
            text
            @click="dialog = false"
          >
            Annuleren
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="addRegistration"
          >
            Aanmelden
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'

export default {
  name: 'AddRegistration',
  props: ['activity'],
  data () {
    return {
      dialog: false,
      valid: true,
      purposes: [
        { label: 'de talk of workshop bijwonen', value: 'workshop' },
        { label: 'aan mijn eigen project werken', value: 'project' }
      ],
      rules: {
        required: value => !!value || 'Dit veld is verplicht!',
        checked: value => value === true || 'Dit veld is verplicht!'
      },
      form: {
        activity_id: this.activity.id,
        purpose: 'workshop'
      }
    }
  },
  methods: {
    addRegistration () {
      if (!this.$refs.form.validate()) return false
      this.axios.post('/api/registrations', this.form)
        .then(response => {
          EventBus.$emit('snackbar', 'Je bent geregistreerd voor de activiteit.')
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
      this.$emit('registration_added')
      this.dialog = false
    }
  },
  mounted () {
    if (this.activity.type === 'Projects') {
      this.form.purpose = 'project'
    }
  }
}
</script>

<style scoped>

</style>
