<template>
  <v-row justify="center">
    <v-btn
      color="primary"
      large
      block
      @click.stop="dialog = true"
    >
      Voeg een item toe
      <v-icon right dark>mdi-plus</v-icon>
    </v-btn>

    <v-dialog
      v-model="dialog"
      max-width="70%"
      scrollable
    >
      <v-card>
        <v-card-title class="text-h5">
          Voeg item toe aan toolshare
        </v-card-title>

        <v-form ref="form"
                v-model="valid"
                lazy-validation>
          <v-card-text>
            <v-btn-toggle
              v-model="form.objective"
              color="primary lighten-2"
              class="my-3"
              mandatory
            >
              <v-btn small>
                Gezocht
              </v-btn>
              <v-btn small>
                Aangeboden
              </v-btn>
            </v-btn-toggle>

            <v-btn-toggle
              v-model="form.offer"
              color="primary lighten-2"
              class="my-3"
              mandatory
            >
              <v-btn small>
                Te Leen
              </v-btn>
              <v-btn small>
                Te Koop
              </v-btn>
            </v-btn-toggle>

            <v-text-field
              label="Naam van het artikel*"
              required
              v-model="form.name"
              :rules="[rules.required, rules.counter]"
            ></v-text-field>

            <v-textarea
              label="Omschrijving van het item, wat men er mee kan*"
              required
              v-model="form.description"
              :rules="[rules.required, rules.counter]"
              v-if="form.objective === 1"
            >
            </v-textarea>
            <v-textarea
              label="Omschrijving, wat zoek je?*"
              required
              v-model="form.description"
              :rules="[rules.required, rules.counter]"
              v-else
            >
            </v-textarea>

            <v-select
              :items="['Machine', 'Apparaat', 'Gereedschap', 'Materiaal', 'Overige']"
              label="Categorie*"
              required
              v-model="form.category"
              :rules="[rules.required]"
            ></v-select>

            <v-combobox
              :items=tool_types
              label="Type*"
              v-model="form.tool_type"
              :rules="[rules.required]"
            ></v-combobox>

            <v-text-field
              label="Hoe kan men je bereiken bij interesse?*"
              hint="Geef hier bijv. je whatsapp nummer, emailadres of discord username"
              required
              v-model="form.reachability"
              :rules="[rules.required, rules.counter]"
            ></v-text-field>

            <v-switch
              label="Zichtbaar"
              v-model="form.visible"
              :append-icon="form.visible ? 'mdi-eye' : 'mdi-eye-off'"
              hide-details
            ></v-switch>
            <small>Als je dit uit zet, is je item niet zichtbaar voor anderen.
              Je kunt dit later altijd aanpassen wanneer je het item even niet uit wilt lenen.</small>

            <v-checkbox
              label="Ik begrijp dat Space Leiden niet aansprakelijk is voor eventueel verlies of schade geleden door
            uitleen van eigendommen van deelnemers*"
              hide-details
              v-model="form.responsibility"
              :rules="[rules.required]"
            ></v-checkbox>
          </v-card-text>
        </v-form>

        <v-card-actions>
          <small>*verplicht veld</small>
          <v-spacer></v-spacer>

          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Annuleren
          </v-btn>

          <v-btn
            color="primary"
            text
            @click="saveItem"
          >
            Opslaan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'

export default {
  name: 'AddToolShareItem',
  data () {
    return {
      dialog: false,
      valid: true,
      tool_types: ['Zaag', 'Boor', 'Printer'],
      rules: {
        required: value => !!value || 'Dit veld is verplicht!',
        counter: value => !value || value.length >= 4 || 'Beschrijf wat je beschikbaar wilt stellen'
      },
      form: {
        name: '',
        offer: 0,
        objective: 0,
        description: '',
        category: '',
        tool_type: '',
        reachability: '',
        visible: true,
        responsibility: false
      }
    }
  },
  methods: {
    saveItem () {
      if (!this.$refs.form.validate()) return false

      this.form.objective = ['Gezocht', 'Aangeboden'][this.form.objective]
      this.form.offer = ['Te Leen', 'Te Koop'][this.form.offer]

      this.axios.post('/api/toolshareitem', this.form)
        .then(() => {
          this.dialog = false
          EventBus.$emit('snackbar', 'Item is aangemaakt!')
          this.$emit('item-created')
        }).catch(error => {
          console.log(error)
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    }
  }
}
</script>
