<template>
  <v-row justify="center">
    <v-btn v-if="item.current_user_owns === true" @click.stop="dialog = true" small text>Bewerk</v-btn>
    <v-btn v-else-if="role_names.includes('admin')" @click.stop="dialog = true" small text>Bewerk als admin</v-btn>

    <v-dialog
      v-model="dialog"
      max-width="80%"
      scrollable
    >
      <v-card>
        <v-card-title class="text-h5">
          Pas item aan
        </v-card-title>

        <v-form ref="form"
                v-model="valid"
                lazy-validation>
          <v-card-text>
            <v-btn-toggle
              v-model="form.objective"
              color="primary lighten-2"
              class="my-3"
              mandatory
            >
              <v-btn small>
                Gezocht
              </v-btn>
              <v-btn small>
                Aangeboden
              </v-btn>
            </v-btn-toggle>

            <v-btn-toggle
              v-model="form.offer"
              color="primary lighten-2"
              class="my-3"
              mandatory
            >
              <v-btn small>
                Te Leen
              </v-btn>
              <v-btn small>
                Te Koop
              </v-btn>
            </v-btn-toggle>

            <v-text-field
              label="Naam van het artikel*"
              required
              v-model="form.name"
              :rules="[rules.required, rules.counter]"
            ></v-text-field>

            <v-textarea
              label="Omschrijving van het item, wat men er mee kan*"
              required
              v-model="form.description"
              :rules="[rules.required, rules.counter]"
            ></v-textarea>

            <v-select
              :items="['Machine', 'Apparaat', 'Gereedschap', 'Anders']"
              label="Categorie*"
              required
              v-model="form.category"
              :rules="[rules.required]"
            ></v-select>

            <v-combobox
              :items=tool_types
              label="Type*"
              v-model="form.tool_type"
              :rules="[rules.required, rules.length]"
            ></v-combobox>

            <v-text-field
              label="Hoe kan men je bereiken bij interesse?*"
              hint="Geef hier bijv. je whatsapp nummer, emailadres of discord username"
              required
              v-model="form.reachability"
              :rules="[rules.required, rules.counter]"
            ></v-text-field>

            <v-switch
              label="Zichtbaar"
              v-model="form.visible"
              :append-icon="form.visible ? 'mdi-eye' : 'mdi-eye-off'"
              hide-details
            ></v-switch>
            <small>Als je dit uit zet, is je item niet zichtbaar voor anderen.
              Je kunt dit later altijd aanpassen wanneer je het item even niet uit wilt lenen.</small>

            <v-checkbox
              label="Ik begrijp dat Space Leiden niet aansprakelijk is voor eventueel verlies of schade geleden door
            uitleen van mijn eigendommen*"
              hide-details
              v-model="form.responsibility"
              :rules="[rules.required]"
            ></v-checkbox>
          </v-card-text>
        </v-form>

        <v-card-actions>
          <small>*verplicht veld</small>
          <v-spacer></v-spacer>

          <v-btn
            color="accent"
            text
            @click="removeItem"
          >
            Verwijderen
          </v-btn>

          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Annuleren
          </v-btn>

          <v-btn
            color="primary"
            text
            @click="saveItem"
          >
            Opslaan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'

export default {
  name: 'EditToolShareItem',
  props: ['item'],
  data () {
    return {
      dialog: false,
      role_names: [],
      valid: true,
      tool_types: ['Boor', 'Zaag', 'Printer'],
      rules: {
        required: value => !!value || 'Dit veld is verplicht!',
        counter: value => !value || value.length >= 4 || 'Beschrijf wat je beschikbaar wilt stellen',
        length: value => !value || value.length >= 4 || 'Gebruik minstens 4 karakters'
      },
      form: {
        name: this.item.name,
        objective: ['Gezocht', 'Aangeboden'].indexOf(this.item.objective),
        offer: ['Te Leen', 'Te Koop'].indexOf(this.item.offer),
        description: this.item.description,
        category: this.item.category,
        tool_type: this.item.tool_type,
        reachability: this.item.reachability,
        visible: this.item.visible
      }
    }
  },
  methods: {
    saveItem () {
      if (!this.$refs.form.validate()) return false

      // convert it for backend
      this.form.offer = ['Te Leen', 'Te Koop'][this.form.offer]
      this.form.objective = ['Gezocht', 'Aangeboden'][this.form.objective]

      this.axios.patch('/api/toolshareitem/' + this.item.id, this.form)
        .then(response => {
          this.dialog = false
          console.log(response.data)
          EventBus.$emit('snackbar', 'Item is aangepast!')
        }).catch(error => {
          console.log(error)
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
      // now set it back so the frontend still understands
      this.form.objective = ['Gezocht', 'Aangeboden'].indexOf(this.item.objective)
      this.form.offer = ['Te Leen', 'Te Koop'].indexOf(this.item.offer)
    },
    removeItem () {
      this.axios.delete('/api/toolshareitem/' + this.item.id)
        .then(response => {
          this.dialog = false
          EventBus.$emit('snackbar', 'Item is verwijderd!')
        }).catch(error => {
          console.log(error)
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    }
  },
  mounted () {
    this.role_names = localStorage.getItem('role_names')
  }
}
</script>
