<template>
        <v-list-item>
            <v-list-item-icon v-if="field != 'full_name'"><v-icon>{{ icon }}</v-icon></v-list-item-icon>
            <v-list-item-avatar v-else><img src="/img/cat.jpg"></v-list-item-avatar>
            <v-list-item-content>
                <v-form ref="form" lazy-validation>
                <v-text-field v-if="editing && field != 'full_name'"
                              v-model="form[field]"
                              :autocomplete="field"
                              :name="field"
                              :id="field"
                              :label="label"
                              :rules="fieldrules">
                </v-text-field>
                <div v-if="editing && field == 'full_name'">
                    <v-row dense>
                        <v-col>
                            <v-text-field v-model="form.first_name"
                                          autocomplete="given-name"
                                          name="fname"
                                          id="first_name"
                                          label="Voornaam"
                                          :rules="fieldrules" required>
                            </v-text-field>
                        </v-col>
                        <v-col>
                            <v-text-field v-model="form.prefix"
                                          autocomplete="prefix"
                                          name="prefix"
                                          id="prefix"
                                          label="Tussenvoegsel">
                            </v-text-field>
                        </v-col>
                        <v-col>
                            <v-text-field v-model="form.last_name"
                                          autocomplete="family-name"
                                          name="lname"
                                          id="last_name"
                                          label="Achternaam"
                                          :rules="fieldrules" required>
                            </v-text-field>
                        </v-col>
                    </v-row>
                </div>

                <v-list-item-title v-if="!editing">{{ formvalue[field] }}</v-list-item-title>
                <v-list-item-subtitle v-if="!editing">{{ label }}</v-list-item-subtitle>
                </v-form>
            </v-list-item-content>
            <v-list-item-action>
                <v-btn v-if="editing" icon @click="saveEditField"><v-icon>mdi-content-save</v-icon></v-btn>
                <v-btn v-else icon @click="openEditField"><v-icon>mdi-pencil</v-icon></v-btn>
            </v-list-item-action>
        </v-list-item>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'

export default {
  name: 'EditUserField',
  props: ['field', 'icon', 'formvalue', 'label', 'fieldrules'],
  data () {
    return {
      editing: false,
      form: {}
    }
  },
  methods: {
    openEditField () {
      this.form = this.formvalue
      this.editing = true
    },
    getFillableUser (u) {
      // just so we don't send unnecesary data towards the backend,
      // this wouldn't be accepted anyways.
      // TODO: not get some of this info from the backend in the first place.
      delete u.mandate
      delete u.subscription
      delete u.updated_at
      delete u.created_at
      delete u.email_verified_at
      delete u.mollie_customer_id
      delete u.full_name
      delete u.role_names
      delete u.id
      return u
    },
    saveEditField () {
      if (!this.$refs.form.validate()) return false

      this.editing = false
      const fillableUser = this.getFillableUser(this.form)
      this.axios.patch('/api/me', fillableUser)
        .then(response => {
          EventBus.$emit('snackbar', 'Je gegevens zijn bijgewerkt')
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
      this.$emit('edited')
    }
  }
}
</script>

<style scoped>

</style>
