<template>
    <div>
      <v-list-item three-line @click.stop="dialog = true">
        <v-list-item-content>
          <v-list-item-title><strong>{{ news['title'] }}</strong></v-list-item-title>
          <v-list-item-subtitle class="text-caption">{{ formatDate(news['created_at']) }}</v-list-item-subtitle>
          <v-list-item-subtitle>{{ news['content'] }}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <v-btn icon><v-icon>mdi-chevron-right</v-icon></v-btn>
        </v-list-item-action>
      </v-list-item>

        <v-dialog
          v-model="dialog"
          max-width="600"
        >
          <v-card>
            <v-card-title class="text-h5">
              {{ news['title'] }}
            </v-card-title>
            <v-card-text>
              <div class="subheading">{{ formatDate(news['created_at']) }}</div>
              <br>
              <p>{{ news['content'] }}</p>
            </v-card-text>
            <v-card-actions>
              <edit-news-item v-if="role_names.includes('admin')" :news="news" v-on:news_added="onNewsAdded"></edit-news-item>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                text
                @click="dialog = false"
              >
                Sluiten
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </div>
</template>

<script>
import moment from 'moment'
import EditNewsItem from './admin/EditNewsItem'

export default {
  name: 'ShowNews',
  props: ['news'],
  components: { EditNewsItem },
  data () {
    return {
      dialog: false,
      role_names: []
    }
  },
  methods: {
    formatDate (value) {
      if (value) {
        return moment.utc(String(value)).format('l')
      }
    },
    onNewsAdded () {
      this.$emit('news_added', 1)
      this.dialog = false
    }
  },
  mounted () {
    this.role_names = localStorage.getItem('role_names')
  }
}
</script>

<style scoped>
</style>
