<template>
    <div>
      <v-list-item two-line @click.stop="dialog = true">
        <v-list-item-content>
          <v-list-item-title>{{ activity.title }}</v-list-item-title>
          <v-list-item-subtitle>{{ formatDateTime(activity.activity_start) }}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <v-btn icon v-bind:class="{ 'accent--text' : activity['current_user_registered']}"><v-icon>mdi-numeric-positive-1</v-icon></v-btn>
        </v-list-item-action>
      </v-list-item>

      <v-dialog
        v-model="dialog"
        max-width="600"
      >
        <v-card>
          <v-card-title class="text-h5">
            {{ activity['title'] }}
          </v-card-title>
          <v-card-text>
            <div class="subheading">{{ formatDateTime(activity['activity_start']) }}<span v-if="activity['location']"> bij {{ activity['location']}}</span></div>
            <p class="body-1 mt-2">{{ activity['description'] }}</p>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="accent"
              text
              @click="dialog = false"
            >
              Annuleren
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
              color="red"
              text
              v-if="activity['current_user_registered']"
              @click="removeRegistration(activity)"
            >
              Afmelden
            </v-btn>
            <add-registration v-else :activity="activity" v-on:registration_added="addRegistration"></add-registration>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'
import AddRegistration from './AddRegistration'
import moment from 'moment'

export default {
  name: 'ShowActivity',
  components: { AddRegistration },
  props: ['activity'],
  data () {
    return {
      dialog: false
    }
  },
  methods: {
    addRegistration () {
      this.$emit('registration_changed')
      this.dialog = false
    },
    removeRegistration (activity) {
      this.axios.delete('/api/registrations', { data: { activity_id: activity.id } })
        .then(response => {
          EventBus.$emit('snackbar', 'Registratie is verwijderd.')
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
      this.$emit('registration_changed')
      this.dialog = false
    },
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('l LT')
      }
    }
  }
}
</script>

<style scoped>
</style>
