<template>
  <div>
    <v-card class="mb-5" flat>
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title :class="{ greyout: item.visible === 0 }" class="text-h5 mb-1">
            {{ item.name }} <v-icon v-if="item.visible === 0">mdi-eye-off</v-icon>
          </v-list-item-title>
          <v-row class="d-flex pl-3 pr-1 justify-space-between">
            <div :class="{ greyout : item.visible === 0 }" class="text-overline mt-2 mb-1">
              {{ item.category }} • {{ item.tool_type }}
            </div>
          </v-row>
          <v-list-item-subtitle :class="{ greyout: item.visible === 0 }" >{{ item.description }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-card-actions>
        <v-spacer></v-spacer>
        <edit-tool-share-item :item="item"></edit-tool-share-item>
        <v-btn small text color="primary" @click.stop="dialog = true">Lees meer</v-btn>
      </v-card-actions>
    </v-card>

    <v-dialog
      v-model="dialog"
      max-width="60%"
      scrollable
    >
      <v-card>
        <v-row>
          <v-col cols="8">
            <v-card-title>{{ item.name }}</v-card-title>
            <v-card-subtitle class="text-overline">
              {{ item.category }} • {{ item.tool_type }}
            </v-card-subtitle>
            <v-card-text>
              <div>{{ item.description }}</div>
            </v-card-text>
          </v-col>
          <v-col>
            <v-card-subtitle class="pb-0">
              <p class="text-overline mb-0">
                aangeboden door
              </p>
              <p class="text-subtitle-2">
                {{ item.owner_first_name }}
              </p>
            </v-card-subtitle>
            <v-card-subtitle class="pt-0">
              <p class="text-overline mb-0">
                bereikbaar via
              </p>
              <p class="text-subtitle-2">
                {{ item.reachability }}
              </p>
            </v-card-subtitle>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import EditToolShareItem from './EditToolShareItem'
export default {
  name: 'ToolShareItem',
  components: { EditToolShareItem },
  props: ['item'],
  data () {
    return {
      dialog: false
    }
  },
  computed: {
    isVisible: function () {
      return (this.item.visible === 1)
    }
  }
}
</script>

<style>
.greyout {
  color: darkgray !important;
}
</style>
