<template>
    <v-app>
        <v-app-bar app id="app-toolbar" flat clipped-left>
            <v-app-bar-nav-icon v-if="loggedIn" @click="drawer = !drawer"></v-app-bar-nav-icon>
            <span class="title white--text">{{ this.title }}</span>
        </v-app-bar>

        <v-navigation-drawer
            v-if="loggedIn"
            v-model="drawer"
            app
            clipped
            left
            id="app-drawer">

            <v-list-item class="px-2">
                <v-list-item-avatar size="100%">
                    <v-img src="/img/logo.png"></v-img>
                </v-list-item-avatar>
            </v-list-item>

            <v-list nav v-model="nav_active">
                <v-list-item link :to="{name: 'Home'}" v-if="hasRole('member')">
                    <v-list-item-icon><v-icon>mdi-home</v-icon></v-list-item-icon>
                    <v-list-item-content><v-list-item-title>Home</v-list-item-title></v-list-item-content>
                </v-list-item>

                <v-list-item link :to="{name: 'Archief'}" v-if="hasRole('member')">
                    <v-list-item-icon><v-icon>mdi-archive</v-icon></v-list-item-icon>
                    <v-list-item-content><v-list-item-title>Archief</v-list-item-title></v-list-item-content>
                </v-list-item>

                <v-list-item
                    link
                    target="_blank"
                    href="https://wiki.spaceleiden.nl">
                    <v-list-item-icon><v-icon>mdi-open-in-new</v-icon></v-list-item-icon>
                    <v-list-item-content><v-list-item-title>Wiki</v-list-item-title></v-list-item-content>
                </v-list-item>

                <v-list-item link :to="{name: 'Doneren'}" v-if="hasRole('member')">
                    <v-list-item-icon><v-icon>mdi-gift</v-icon></v-list-item-icon>
                    <v-list-item-content><v-list-item-title>Doneren</v-list-item-title></v-list-item-content>
                </v-list-item>

                <v-list-item link :to="{name: 'Tool share'}" v-if="hasRole('member')">
                  <v-list-item-icon><v-icon>mdi-hammer-wrench</v-icon></v-list-item-icon>
                  <v-list-item-content><v-list-item-title>Tool share</v-list-item-title></v-list-item-content>
                </v-list-item>

              <v-list-group
                    v-if="hasRole('admin')"
                    :value="false"
                    prepend-icon="mdi-cog"
                    no-action>
                    <template v-slot:activator><v-list-item-title>Admin</v-list-item-title></template>
                    <v-list-item link :to="{name: 'Deelnemers'}">
                        <v-list-item-title><v-list-item-title>Deelnemers</v-list-item-title></v-list-item-title>
                    </v-list-item>
                    <v-list-item link :to="{name: 'Activiteiten'}">
                        <v-list-item-title><v-list-item-title>Activiteiten</v-list-item-title></v-list-item-title>
                    </v-list-item>
                    <v-list-item link :to="{name: 'Nieuws'}">
                        <v-list-item-title><v-list-item-title>Nieuws</v-list-item-title></v-list-item-title>
                    </v-list-item>
                    <v-list-item link :to="{name: 'Donaties'}">
                        <v-list-item-title><v-list-item-title>Donaties</v-list-item-title></v-list-item-title>
                    </v-list-item>
                    <v-list-item link :to="{name: 'Consumptions'}">
                        <v-list-item-title><v-list-item-title>Consumpties</v-list-item-title></v-list-item-title>
                    </v-list-item>
                    <v-list-item link :to="{name: 'Instellingen'}">
                        <v-list-item-title><v-list-item-title>Instellingen</v-list-item-title></v-list-item-title>
                    </v-list-item>
                </v-list-group>

                <v-list-item link :to="{name: 'User'}">
                    <v-list-item-icon><v-icon>mdi-account</v-icon></v-list-item-icon>
                    <v-list-item-content><v-list-item-title>Profiel</v-list-item-title></v-list-item-content>
                </v-list-item>

                <v-list-item
                    link
                    v-on:click.native="logout(true)"
                    to="#">
                    <v-list-item-icon><v-icon>mdi-exit-to-app</v-icon></v-list-item-icon>
                    <v-list-item-content><v-list-item-title>Uitloggen</v-list-item-title></v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-main id="app-content"><v-container>
            <router-view v-if="loggedIn"></router-view>
            <Login v-else-if="loggedIn == false && unauthenticatedView == null" v-on:loggedIn="loggedInHandler" v-on:signup="showSignupForm"></Login>
            <SignupCallback v-else-if="unauthenticatedView == 'SignupCallback'"></SignupCallback>
            <Signup v-else-if="unauthenticatedView == 'Signup'" v-on:login="showLoginForm"></Signup>
            <ResetPassword v-else-if="unauthenticatedView == 'ResetPassword'"></ResetPassword>
        </v-container></v-main>

        <Snackbar></Snackbar>
    </v-app>
</template>

<script>
import { EventBus } from '../plugins/events-bus'
import Login from './views/Login'
import Signup from './views/Signup'
import SignupCallback from './views/SignupCallback'
import Snackbar from './components/Snackbar'
import ResetPassword from './views/ResetPassword'

export default {
  name: 'App',
  components: { Login, Snackbar, Signup, SignupCallback, ResetPassword },
  data () {
    return {
      drawer: false,
      nav_active: 0,
      token: '',
      title: 'The Space Leiden Portal',
      loggedIn: false,
      user: {},
      notifications: [],
      unauthenticatedView: null,
      unauthenticatedViews: ['Signup', 'SignupCallback', 'ResetPassword']
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler (to, from) {
        this.title = to.meta.title || 'The Space Leiden Portal'
        // document.title = to.meta.title || 'The Space Leiden Portal'
      }
    }
  },
  methods: {

    /**
     * Try to load a token from browser localStorage.
     *
     * @returns {String} token
     */
    loadToken () {
      const token = localStorage.getItem('token')

      if (token == null) return false

      this.token = token
      this.setAxiosToken(token)
      return token
    },

    /**
     * Save the token to the browser localStorage.
     *
     * @returns {undefined}
     */
    setToken (token) {
      this.token = token
      this.setAxiosToken(token)
      localStorage.setItem('token', token)
    },

    /**
     * Set the Axios Bearer authentication header with the token.
     *
     * @returns {undefined}
     */
    setAxiosToken (token) {
      this.axios.defaults.headers.common.Authorization = `Bearer ${token}`
    },

    /**
     * Handles a successful login from the Login.vue component.
     *
     * @param {String} token
     * @returns {undefined}
     */
    loggedInHandler (token) {
      this.setToken(token)
      this.verifyToken()
      this.$router.push({ name: 'Home' })
    },

    /**
     * Handles a request to view the Signup.vue from the Login.vue component.
     *
     * @returns {undefined}
     */
    showSignupForm () {
      this.unauthenticatedView = 'Signup'
      this.$router.push({ name: 'Signup' })
    },

    /**
     * Handles a request to view the Login.vue from the Signup.vue component.
     *
     * @returns {undefined}
     */
    showLoginForm () {
      this.unauthenticatedView = null
      this.$router.push({ name: 'Login' })
    },

    /**
     * Verify if the token we have can be used to login.
     * If successful, this populates the user object and sets loggedIn to true.
     *
     * @returns {Promise}
     */
    verifyToken () {
      return this.axios.get('/api/me')
        .then(response => {
          this.loggedIn = true
          this.user = response.data
          localStorage.setItem('role_names', this.user.role_names)
        })
        .catch(() => {
          this.loggedIn = false
        })
    },

    /**
     * Handle a complete logout.
     * @param {Boolean} manual if the logout action is a manual click or automated.
     *
     * @returns {undefined}
     */
    logout (manualAction = false) {
      localStorage.clear()
      this.token = ''
      this.user = null
      this.loggedIn = false

      if (manualAction) {
        EventBus.$emit('snackbar', 'Je bent uitgelogd!')
      }

      // Redirect to login page if we're not already on the login page.
      if (this.$router.currentRoute.name !== 'Login') {
        this.$router.push({ name: 'Login' })
      }
    },

    displayUnauthenticatedViewIfRequested () {
      if (this.unauthenticatedViews.includes(this.$router.currentRoute.name)) {
        this.unauthenticatedView = this.$router.currentRoute.name
      } else {
        this.logout()
      }
    },

    /**
     * Helper function to check if the current user has a specific role.
     * @param {string} role
     * @returns {Boolean}
     */
    hasRole (role) {
      if (!Object.prototype.hasOwnProperty.call(this.user, 'role_names')) {
        return false
      }
      return this.user.role_names.includes(role)
    }
  },
  mounted () {
    // Auto-display the drawer navigation if the screen is large enough.
    if (!this.$vuetify.breakpoint.mobile) { this.drawer = true }

    // If no token is set, do not attempt to authenticate.
    if (this.loadToken() !== false) {
      // Try to verify the token from localStorage.
      // And if that worked, load the home page.
      this.verifyToken().then(() => {
        // 1. If there's no specific uri set, redirect to home,
        //    otherwise, let the router handle the uri.
        // 2. If Login or Signup view was requested, but the user is already
        //    logged in, we redirect to home.
        if (window.location.pathname === '/' || window.location.pathname === '' ||
            this.$router.currentRoute.name === 'Login' || this.$router.currentRoute.name === 'Signup') {
          this.$router.push({ name: 'Home' })
        }
      })
    } else {
      this.displayUnauthenticatedViewIfRequested()
    }
  },
  created () {
    // If the API at some point returns a 401 unauthorized, we return to the
    // login page or to a requested unauthenticatedView.
    // This happens when the used token is not valid.
    EventBus.$on('unauthorized', () => {
      this.displayUnauthenticatedViewIfRequested()
    })

    // Make the user's theme preference stick locally.
    EventBus.$on('change_theme', () => {
      if (this.$vuetify.theme.dark) {
        localStorage.setItem('dark_theme', true)
      } else {
        localStorage.removeItem('dark_theme')
      }
    })
  }
}
</script>

<style>
    .theme--light.v-application #app-content {
        background-color: #F5F7F9;
    }

    .theme--light.v-card .v-card__text > .v-card__title {
        color: rgba(0,0,0,.87);
    }

    .theme--dark.v-card .v-card__text > .v-card__title {
        color: #fff;
    }

    /* Make sure some elements are still dark blue when in dark mode */
    .theme--light#app-toolbar {
        background-color: var(--v-primary-base);
    }

    .theme--dark#app-toolbar {
        background-color: var(--v-secondary-base);
    }

    .theme--dark.v-navigation-drawer {
        background-color: #1e1e1e !important;
    }

    .theme--dark.v-application .v-navigation-drawer__border {
        background-color: #1e1e1e !important;
    }

    .theme--light.v-application .v-navigation-drawer__border {
        background-color: #fff !important;
    }

    .theme--dark.v-card > header {
        background-color: var(--v-secondary-base) !important;
        border-color: var(--v-secondary-base) !important;
    }
</style>

<style scoped>
    .v-card {
        border-radius: 7.5px;
    }

    #app-toolbar {
        color: white !important;
    }
    #app-toolbar button {
        color: white !important;
    }
</style>
