<template>
    <div>
      <v-tabs v-model="tab">
        <v-tab v-for="item in tab_items" :key="item">{{ item }}</v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item>
          <payment-table :pagetitle="'Betalingen'" :payments="payments" :key="loaded_payments" v-on:payment_updated="getPayments"></payment-table>
        </v-tab-item>
        <v-tab-item>
          <product-table :pagetitle="'Producten'" :products="products" :key="loaded_products" v-on:product_updated="getProducts"></product-table>
        </v-tab-item>
      </v-tabs-items>

      <add-payment v-if="tab === 0" :products="products" v-on:payment_added="getPayments"></add-payment>
      <add-product v-else v-on:product_added="getProducts"></add-product>
    </div>
</template>

<script>
import PaymentTable from '../../components/admin/PaymentTable'
import ProductTable from '../../components/admin/ProductTable'
import AddPayment from '../../components/admin/AddPayment'
import AddProduct from '../../components/admin/AddProduct'

export default {
  name: 'AdminPayments',
  components: { PaymentTable, ProductTable, AddPayment, AddProduct },
  data () {
    return {
      tab: null,
      tab_items: ['Betalingen', 'Producten'],
      payments: {},
      products: {},
      loaded_payments: '',
      loaded_products: ''
    }
  },
  methods: {
    getPayments () {
      this.loaded_payments = ''
      this.axios.get('/api/admin/payments')
        .then(response => {
          this.payments = response.data.payments
          this.loaded_payments = 'true'
        })
    },
    getProducts () {
      this.loaded_products = ''
      this.axios.get('/api/admin/products')
        .then(response => {
          this.products = response.data.products
          this.loaded_products = 'true'
        })
    }
  },
  mounted () {
    this.getPayments()
    this.getProducts()
  }
}
</script>

<style scoped>
.v-card {
    border-radius: 7.5px;
}

.v-tabs {
  border-radius: 7.5px;
  margin-bottom: 16px;
}
.v-tab-item {
  border-radius: 7.5px;
  margin-bottom: 16px;
}
.td-actions {
  text-align: right;
}
</style>
