<template>
    <div>
      <v-tabs v-model="tab">
        <v-tab v-for="item in tab_items" :key="item">{{ item }}</v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item>
          <member-table :users="users" :key="users_loaded"></member-table>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-title><div class="title">Verjaardagen</div></v-card-title>
            <v-card-text>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                  <tr>
                    <th class="text-left">Datum</th>
                    <th class="text-left">Naam</th>
                    <th class="text-left">Leeftijd</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="user in birthdays" :key="user['id']">
                    <td>{{ formatDate(user['birthdate']) }}</td>
                    <td>{{ user['full_name'] }}</td>
                    <td>{{ formatAge(user['birthdate']) }} <span v-if="isBirthday(user['birthdate'])">🎈</span><span v-else>+1</span></td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </div>
</template>

<script>
// import MemberChart from '../../components/admin/MemberChart'
// import MembershipTypeChart from '../../components/admin/MembershipTypeChart'
import moment from 'moment'
import MemberTable from '../../components/admin/MemberTable'
moment.locale('nl')

export default {
  name: 'AdminDeelnemers',
  components: { MemberTable /*, MembershipTypeChart, MemberChart */ },
  data () {
    return {
      tab: null,
      tab_items: ['Inschrijvingen', 'Verjaardagen'],
      users: {},
      users_loaded: '',
      birthdays: {}
    }
  },
  methods: {
    getUsers () {
      this.axios.get('/api/admin/users')
        .then(response => {
          this.users = response.data.users
          this.users_loaded = 'true'
        })
      this.axios.get('/api/admin/users/birthdays')
        .then(response => {
          this.birthdays = response.data.users
        })
    },
    formatDate (value) {
      if (value) {
        return moment.utc(String(value)).format('l')
      }
    },
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('ll LT')
      }
    },
    formatAge (value) {
      if (value) {
        return moment.utc().diff(moment.utc(String(value)), 'years')
      }
    },
    isBirthday: function (value) {
      const currentDate = new Date()
      const birthdate = new Date(value)
      return currentDate.getDate() === birthdate.getDate() && currentDate.getMonth() === birthdate.getMonth()
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>

<style scoped>
.v-window.v-item-group,
.v-tabs,
.v-tab-item,
.v-card {
  border-radius: 7.5px;
}
.v-tabs,
.v-tab-item {
  margin-bottom: 16px;
}
</style>
