<template>
    <div>
      <donation-table :pagetitle="'Donaties'" :donations="donations" :key="loaded" v-on:donation_clicked="updateDonation"></donation-table>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

import DonationTable from '../../components/admin/DonationTable'

export default {
  name: 'AdminDonations',
  components: { DonationTable },
  data () {
    return {
      donations: {},
      loaded: ''
    }
  },
  methods: {
    getDonations () {
      this.loaded = ''
      this.axios.get('/api/admin/donations')
        .then(response => {
          this.donations = response.data.donations
          this.loaded = 'true'
        })
        .catch(error => {
          EventBus.$emit('snackbar', error.message)
        })
    },
    updateDonation (donation) {
      this.axios.patch(`/api/admin/donations/${donation.id}`, { add_to_balance: !donation.add_to_balance })
        .then(response => {
          this.getDonations()
          EventBus.$emit('snackbar', 'Donatie bijgewerkt.')
        })
        .catch(error => {
          EventBus.$emit('snackbar', error.message)
        })
    }
  },
  mounted () {
    this.getDonations()
  }
}
</script>

<style scoped>

</style>
