<template>
    <div>
        <add-news-item v-on:news_added="onNewsAdded"></add-news-item>

        <v-row>
            <v-col class="flex-grow-1 flex-shrink-1 no-gutters">
                <v-card class="mb-3" flat>
                    <v-card-title>
                        <div class="title">Laatste nieuws</div>
                    </v-card-title>
                    <v-card-text>
                        <v-list>
                            <div v-for="item in news" v-bind:key="item.id">
                                <show-news :news="item" v-on:news_added="onNewsAdded"></show-news>
                            </div>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

import AddNewsItem from '../../components/admin/AddNewsItem'
import ShowNews from '../../components/ShowNews'

import moment from 'moment'

export default {
  name: 'AdminNieuws',
  components: { ShowNews, AddNewsItem },
  data () {
    return {
      news: []
    }
  },
  methods: {
    getNews () {
      this.axios.get('/api/news/internal')
        .then(response => {
          this.news = response.data.news
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    formatDate (value) {
      if (value) {
        return moment.utc(String(value)).format('l')
      }
    },
    openInNewTab (url) {
      if (url !== null) {
        window.open(url, '_blank').focus()
      }
    },
    onNewsAdded () {
      this.getNews()
    }
  },
  mounted () {
    this.getNews()
  }
}
</script>

<style scoped>
.v-card {
    border-radius: 7.5px;
}
</style>
