<template>
    <v-row>
        <v-col class="flex-grow-1 flex-shrink-1 no-gutters">
            <v-card class="mb-3" flat>
                <v-card-title>
                    <div class="title">Space API Status</div>
                </v-card-title>
                <v-card-text v-if="settings">
                    <v-form>
                        <v-switch v-model="settings.status_is_open" :label="`Space is ${textStatus(settings.status_is_open)}`"></v-switch>
                        <v-textarea outlined label="HTML Bericht" v-model="settings.status_message"></v-textarea>
                    </v-form>
                </v-card-text>
                <v-card-text v-else>
                    <center><i>Huidige SpaceAPI Status laden...</i></center>
                </v-card-text>
                <v-card-actions v-if="settings">
                    <v-spacer></v-spacer>
                    <v-btn primary @click="setStatus" color="primary" elevation="0">Opslaan</v-btn>
                </v-card-actions>
            </v-card>
            <robot-table :pagetitle="'Robots'" :robots="robots" :key="loaded_robots" v-on:robot_updated="getRobots"></robot-table>

        </v-col>
    </v-row>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'
import RobotTable from '../../components/admin/RobotTable'

export default {
  name: 'AdminSettings',
  components: { RobotTable },
  data () {
    return {
      settings: null,
      loaded_robots: false,
      robots: {}
    }
  },
  methods: {
    textStatus (status) {
      if (status === true) { return 'open' } else { return 'gesloten' }
    },
    getStatus () {
      this.axios.get('/api/admin/settings')
        .then(response => {
          delete response.data.created_at
          delete response.data.updated_at
          this.settings = response.data
        }).catch(response => {
          // IDK, this is the only way it works
          delete response.data.created_at
          delete response.data.updated_at
          this.settings = response.data
        })
    },
    setStatus () {
      this.axios.patch('/api/admin/settings', this.settings)
        .then(response => {
          EventBus.$emit('snackbar', 'Settings zijn bijgewerkt!')
          this.getStatus()
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    getRobots () {
      this.loaded_robots = ''
      this.axios.get('/api/admin/robots')
        .then(response => {
          this.robots = response.data.robots
          this.loaded_robots = 'true'
        })
    }
  },
  mounted () {
    this.getStatus()
    this.getRobots()
  }
}
</script>

<style scoped>
.v-textarea >>> textarea {
    font-family: 'Courier New', Courier, monospace;
}
</style>
