<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" sm="12">
              <v-card flat>
                <v-card-title>
                  Fijn dat je aan ons denkt!
                </v-card-title>
                <v-card-text>
                  Jouw bijdrage zorgt er voor dat de Stichting kan blijven bestaan.
                  Met donaties kunnen wij sparen voor nieuwe apparaten, het onderhoud van de inventaris en
                  leuke nieuwe projecten.

                  De Stichting heeft dan ook niet het doel om winst te maken.
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" md="6" sm="12">
                <v-card flat>
                    <v-card-title>Eenmalige donatie</v-card-title>
                    <v-card-text>
                        <v-form ref="form">
                            <v-item-group active-class="primary">
                                <v-row>
                                    <v-col v-for="n in preset_amounts"
                                        :key="n"
                                        cols="12"
                                        md="4">
                                        <v-item v-slot="{ active, toggle }">
                                          <v-card
                                              outlined
                                              elevation="0"
                                              class="d-flex align-center"
                                              height="50"
                                              :data-amount="n"
                                              @click="setAmount(n); toggle();">
                                              <div class="text-h6 flex-grow-1 text-center">
                                                  <span class="white--text" v-if="active">
                                                      € <strong>{{ n }}</strong>
                                                  </span>
                                                  <span v-else>
                                                      € {{ n }}
                                                  </span>
                                              </div>
                                          </v-card>
                                        </v-item>
                                    </v-col>
                                    <v-col>
                                      <v-card outlined elevation="0" class="d-flex align-center" height="50">
                                        <v-text-field
                                            id="manual_amount"
                                            @change="setAmount('custom')"
                                            class="text-h6 px-10"
                                            prefix="€"
                                            v-model="form.manual_amount"
                                            v-on:keydown.enter.prevent
                                            placeholder="">
                                        </v-text-field>
                                      </v-card>
                                    </v-col>
                                </v-row>
                            </v-item-group>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-checkbox id="add_to_balance" v-model="form.add_to_balance" :label="'Voeg toe aan tegoed'"></v-checkbox>
                        <v-spacer></v-spacer>
                        <v-btn elevation="0" color="primary" @click="donateOnce">Doneren</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'

export default {
  name: 'Donate',
  data () {
    return {
      preset_amounts: ['5.00', '10.00', '25.00', '50.00', '100.00'],
      form: {
        manual_amount: '',
        amount: '',
        add_to_balance: 0
      }
    }
  },
  methods: {
    setAmount (n) {
      if (n === 'custom') {
        this.form.amount = this.form.manual_amount
      } else if (n === this.form.amount) {
        this.form.amount = false
      } else {
        this.form.amount = n
      }
    },
    donateOnce () {
      const amount = this.form.amount
      const addToBalance = this.form.add_to_balance ? 1 : 0

      // We use custom validation since Vuetify's lazy validation
      // does not suit our needs here.

      if (!amount) {
        EventBus.$emit('snackbar', 'Vul alsjeblieft eerst een bedrag in.')
        return false
      }

      if (Number.parseFloat(amount) > 999.99) {
        EventBus.$emit('snackbar', 'Meer dan 1000 EUR doneren? Neem contact op met ons!')
        return false
      }

      if (Number.parseFloat(amount) < 1.00) {
        EventBus.$emit('Geef een bedrag op vanaf 1,00 EUR')
        return false
      }

      this.axios.get(`/api/payments/donate/create/${amount}/${addToBalance}`)
        .then(response => {
          EventBus.$emit('snackbar', 'Betaallink is aangemaakt!')
          window.location = response.data.href
        })
        .catch(error => {
          EventBus.$emit('snackbar', error.message)
        })
    }
  }
}
</script>

<style scoped>
    /*.custom-amount.primary {
        background-color: white !important;
    }*/
</style>
