<template>
    <div>
        <v-container>
            <v-row>
                <v-col cols="12" md="6" offset-md="3" lg="4" offset-lg="4">
                    <v-card flat>
                      <v-card-title><h3>Inloggen</h3></v-card-title>
                      <v-card-text>
                      <v-form ref="form" lazy-validation>
                          <v-text-field
                              autocomplete="email"
                              name="email"
                              id="email"
                              v-model="form.email"
                              label="E-mail"
                              :rules="[rules.required,rules.email]" required>
                          </v-text-field>
                          <v-text-field
                              autocomplete="current-password"
                              name="password"
                              id="password"
                              v-model.trim="form.password"
                              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                              @click:append="show = !show"
                              @keyup.enter="login"
                              :type="show ? 'text' : 'password'"
                              hint="Wachtwoord dient minimaal 16 karakters lang te zijn."
                              label="Wachtwoord"
                              :rules="[rules.required]" required>
                          </v-text-field>
                      </v-form>
                      </v-card-text>
                      <v-card-actions class="px-4">
                        <v-row justify="space-between">
                            <v-col cols="12" xs="12" sm="5">
                                <v-btn block @click="showSignup" text>Aanmelden</v-btn>
                            </v-col>
                            <v-col cols="12" xs="12" sm="5">
                                <v-btn block @click="login" color="primary" elevation="0">Inloggen</v-btn>
                            </v-col>
                        </v-row>
                      </v-card-actions>
                    </v-card>
                    <v-row class="px-5">
                        <v-col cols="12" xs="12" sm="12" style="text-align:right;">
                            <small><a href="#" @click="forgot" class="button">Iets vergeten?</a></small>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>

        <v-row justify="center">
            <v-dialog
              v-model="forgotDialog"
              persistent
              max-width="500px"
            >
              <v-card>
                <v-card-title>
                  <span class="text-h5">Wachtwoord vergeten?</span>
                </v-card-title>
                <v-card-text>
                    <v-row>
                      <v-col cols="12">
                          Geen probleem. Vul je e-mail in en we sturen je
                          een link voor een nieuw wachtwoord.
                      </v-col>
                      <v-col cols="12">
                          <v-form ref="forgotForm"
                              lazy-validation>
                                <v-text-field
                                  id="forgotEmail"
                                  name="forgotEmail"
                                  v-model="forgotForm.email"
                                  label="E-mail"
                                  :rules="[rules.required,rules.email]"
                                  required
                                ></v-text-field>
                        </v-form>
                      </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    text
                    @click="forgotDialog = false"
                  >
                    Annuleren
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="primary"
                    text
                    @click="forgotSubmit"
                  >
                    Verstuur
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>

    </div>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'

export default {
  name: 'Login',
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      showSnackbar: false,
      message: '',
      show: false,
      forgotDialog: false,
      forgotForm: {
        forgotEmail: ''
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Geen correct e-mailadres.'
        }
      }
    }
  },
  methods: {
    login () {
      if (!this.$refs.form.validate()) return false

      this.axios.post('/api/auth/login', this.form)
        .then(response => {
          this.$emit('loggedIn', response.data.token)
          EventBus.$emit('snackbar', 'Je bent ingelogd, welkom!')
        }).catch(error => {
          EventBus.$emit('snackbar', error.message)
        })
    },
    showSignup () {
      this.$emit('signup')
    },
    forgot () {
      this.forgotDialog = true
    },
    forgotSubmit () {
      if (!this.$refs.forgotForm.validate()) return false
      this.axios.post('/api/auth/forgot', this.forgotForm)
        .then(response => {
          this.forgotDialog = false
          EventBus.$emit('snackbar', response.message)
        })
        .catch(error => {
          EventBus.$emit('snackbar', error.message)
        })
    }
  },
  forgot () {
    this.forgotDialog = true
  },
  forgotSubmit () {
    if (!this.$refs.forgotForm.validate()) return false
    this.axios.post('/api/auth/forgot', this.forgotForm)
      .then(response => {
        this.forgotDialog = false
        EventBus.$emit('snackbar', response.message)
      })
      .catch(error => {
        EventBus.$emit('snackbar', error.message)
      })
  }
}
</script>

<style scoped>

</style>
