<template>

  <div>
    <v-row>
      <v-col cols="12">
        <v-alert
          border="top"
          colored-border
          type="warning"
          icon="mdi-information"
        >
          Materiaal wat je over hebt en niet meer gebruikt, of tools die Space Leiden niet heeft,
          maar die deelnemers wel van elkaar kunnen lenen, vind je hier.
          Bij elk item vind je een beschrijving, en hoe je contact kan maken met de eigenaar.
          Heb jij zelf ook gereedschap, apparaten, materiaal of andere dingen die andere deelnemers eventueel van je
          zouden kunnen lenen of overnemen voor hun project? Voeg ze dan toe aan onze database!
          Je kunt ze altijd later nog weghalen of aanpassen.
        </v-alert>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" xs="12" sm="12" md="3">
        <add-tool-share-item ref="add-tools" class="d-flex pa-3"></add-tool-share-item>

        <v-btn-toggle
          v-model="offer"
          color="primary"
          class="mt-5 d-flex flex-row"
          mandatory
        >
          <v-btn class="flex-grow-1" value="Te Leen">
            Te Leen
          </v-btn>
          <v-btn class="flex-grow-1" value="Te Koop">
            Te Koop
          </v-btn>
        </v-btn-toggle>

        <v-btn-toggle
          v-model="objective"
          color="primary"
          class="mt-5 d-flex flex-row"
          mandatory
        >
          <v-btn class="flex-grow-1" value="Gezocht">
            Gezocht
          </v-btn>
          <v-btn class="flex-grow-1" value="Aangeboden">
            Aangeboden
          </v-btn>
        </v-btn-toggle>

        <v-text-field
          label="Zoek"
          outlined
          dense
          clearable
          v-model="searchQuery"
          hide-details
          append-icon="mdi-magnify"
          class="mt-5"
        ></v-text-field>

        <p class="overline mb-0 mt-3">Categorie</p>
        <v-checkbox class="my-0" label="Apparaat" value="Apparaat" v-model="categoryfilter" hide-details></v-checkbox>
        <v-checkbox class="my-0" label="Machine" value="Machine" v-model="categoryfilter" hide-details></v-checkbox>
        <v-checkbox class="my-0" label="Gereedschap" value="Gereedschap" v-model="categoryfilter"
                    hide-details></v-checkbox>
        <v-checkbox class="my-0" label="Materiaal" value="Materiaal" v-model="categoryfilter" hide-details></v-checkbox>
        <v-checkbox class="my-0" label="Overige" value="Overige" v-model="categoryfilter" hide-details></v-checkbox>

        <p class="overline mb-0 mt-3">Type</p>
        <template v-for="type in tooltypes">
          <v-checkbox
            class="my-0"
            :key="type.tool_type"
            v-model="tooltypefilter"
            v-if="type.objective === objective"
            :value="type.tool_type"
            :label="type.tool_type"
            hide-details
          ></v-checkbox>
        </template>

        <p class="overline mb-0 mt-3">Toon alleen</p>
        <v-checkbox class="my-0" label="Items van anderen" v-model="ownerfilter" value="theirs"
                    hide-details></v-checkbox>
        <v-checkbox class="my-0" label="Mijn items" v-model="ownerfilter" value="mine" hide-details></v-checkbox>
      </v-col>

      <v-col cols="12" xs="12" sm="12" md="9">
        <tool-share-item v-for="item in filteredItems" :key="item.id" :item="item"></tool-share-item>
      </v-col>
    </v-row>

  </div>
</template>

<script>
import ToolShareItem from '../components/ToolShareItem'
import AddToolShareItem from '../components/AddToolShareItem'
import { EventBus } from '../../plugins/events-bus'

export default {
  name: 'ToolShare',
  components: { AddToolShareItem, ToolShareItem },
  data () {
    return {
      items: [],
      offer: 'Te Leen',
      objective: 'Gezocht',
      tooltypes: [],
      searchValue: null,
      categoryfilter: [],
      tooltypefilter: [],
      ownerfilter: [],
      searchQuery: null
    }
  },
  methods: {
    getToolshareitems () {
      this.axios.get('/api/toolshareitem')
        .then(response => {
          this.items = response.data.items
          this.tooltypes = response.data.tool_types
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    }
  },
  mounted () {
    this.getToolshareitems()
    this.$refs['add-tools'].$on('item-created', () => {
      this.getToolshareitems()
    })
  },
  computed: {
    filteredItems () {
      let filteredItems = this.items

      filteredItems = filteredItems.filter(item => {
        return this.objective.includes(item.objective)
      })

      filteredItems = filteredItems.filter(item => {
        return this.offer.includes(item.offer)
      })

      if (this.searchQuery) {
        filteredItems = filteredItems.filter(item => {
          return this.searchQuery
            .toLowerCase()
            .split(' ')
            .every(v => item.name.toLowerCase().includes(v)) ||
            this.searchQuery
              .toLowerCase()
              .split(' ')
              .every(v => item.description.toLowerCase().includes(v))
        })
      }

      if (this.categoryfilter.length > 0) {
        filteredItems = filteredItems.filter((item) => {
          return this.categoryfilter.includes(item.category)
        })
      }

      if (this.tooltypefilter.length > 0) {
        filteredItems = filteredItems.filter((item) => {
          return this.tooltypefilter.includes(item.tool_type)
        })
      }

      if (this.ownerfilter.length > 0) {
        filteredItems = filteredItems.filter((item) => {
          let showthis = false
          if (this.ownerfilter.includes('mine') && item.current_user_owns) {
            showthis = true
          }
          if (this.ownerfilter.includes('theirs') && !item.current_user_owns) {
            showthis = true
          }
          return showthis
        })
      }

      return filteredItems
    }
  }
}
</script>

<style>
.v-window.v-item-group,
.v-tabs,
.v-tab-item,
.v-card {
  border-radius: 7.5px;
}

.v-input--selection-controls {
  margin-top: 0px;
}
</style>
